{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load bootstrap4 %}

{% block body %}

<style type="text/css">
    #gis {
        width: 80%;
        height: 500px;
    }
</style>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="thumb">
                                <img src="img/svg_icon/1.svg" alt="">
                            </div>
                            <div class="jobs_conetent">
                                <a href="#">
                                    <h4>{{ rgn_loc }}</h4>
                                </a>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> <i class="fa fa-map-marker"></i>{{rgn_loc.name}}</p>
                                    </div>
                                    <div class="location">
                                        <p> <i class="fa fa-clock-o"></i>{{rgn_loc.type}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobs_right">
                            <div class="apply_now">
                                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        <h4>Job description</h4>
                        <p>{{rgn_loc.name_of}}</p>
                    </div>
                </div>
                <div class="apply_job_form white-bg">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form_rgst %}
                        {%buttons%}
                        <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                        {% endbuttons %}
                        {% bootstrap_button button_type="submit" content="OK" %}
                        {% bootstrap_button button_type="reset" content="Cancel" %}
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="map" style="height: 50px; width: 600px;">
    <h1 class="text-center mb-8 section-heading border-bottom pb-2">Libya investment Map </h1>

</div>

{% block script %}
<div id="map" style="height: 50px; width: 600px;">
    <script type="text/javascript">
        function out_layers(map, options) {
            var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap'
            });

            var osmHOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap contributors, Tiles style by Humanitarian OpenStreetMap Team hosted by OpenStreetMap France'
            });
            var openTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: 'Map data: © OpenStreetMap contributors, SRTM | Map style: © OpenTopoMap (CC-BY-SA)'
            });

            var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            });
            // googleSat.addTo(pibMap);

            var googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            });


            var datasets = new L.GeoJSON.AJAX("{% url 'regns' %}", {
                style: function colors(feature) {
                    switch (feature.properties.no_of) {
                        case 1:
                            return {
                                radius: 8,
                                fillColor: 'blue',
                                weight: 2,
                                opacity: 1,
                                color: 'orange',
                                fillOpacity: 0.7
                            };
                            break;
                        case 2:
                            return {
                                fillColor: '#285078',
                                weight: 2,
                                opacity: 1,
                                color: 'orange',
                                fillOpacity: 0.7
                            };
                            break;
                        case 3:
                            return {
                                fillColor: '#a0c8f0',
                                weight: 2,
                                opacity: 1,
                                color: 'orange',
                                fillOpacity: 0.7
                            };
                            break;
                        case 4:
                            return {
                                fillColor: '#FCF3CF ',
                                weight: 2,
                                opacity: 1,
                                color: 'orange',
                                fillOpacity: 0.7
                            };
                            break;
                    }
                },
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.name_ar.toString());
                }
            });

            var points = new L.GeoJSON.AJAX("{% url 'projects' %}", {
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.project_na.toString());
                }
            });

            datasets.addTo(map);
            points.addTo(map);

            var baseMaps = {
                "OpenStreetMap": osm,
                "OpenStreetMap.HOT": osmHOT,
                "openTopoMap": openTopoMap,
                "Satallite": googleSat,
                "googleHybrid": googleHybrid,

            };

            var overlayMaps = {
                "region": datasets,
                "project_na": points,
            };
            var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);
        }
    </script>
</div>
{% endblock script %}


{% endblock body %}