{% extends 'base.html' %}
{% block body %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<main>

    <section class="container my-4">
        <h1 class="text-center mb-4 section-heading border-bottom pb-2">Application Form</h1>
        <div class="row">
            {% for x in obj %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="com-lg-5 col-md-5 col-12">
                            {{x.name}}
                        </div>
                        <div class="com-lg-5 col-md-5 col-12">
                            {{x.description}}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
</main>

{% endblock body %}